<p>
  <mat-toolbar color="secondary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <span></span>
    <img src="../../../assets/Logo2.png" alt="120" width="250" height="60">
    <p>contacto@proydis.cl </p>
    <p> +56979603288</p>
  </mat-toolbar>
</p>

  <carousel>
    <div class="carousel-cell">
        <img src="../../../assets/Logo2.png">
    </div>
    <div class="carousel-cell">
      <img src="../../../assets/Logo2.png">
  </div>
  <div class="carousel-cell">
    <img src="../../../assets/Logo2.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/Logo2.png">
</div>

</carousel>

